body {
    font-family: 'Courier New', Courier, monospace;
    background-color: beige;
}

header {
    text-align: center;
}

.schedule {
    margin: 5px auto;
    border: medium solid black; 
    border-spacing: 0;
    border-collapse: collapse;
    caption-side: bottom;
}

.schedule td, .schedule th {
    border: thin solid black;
    padding: 5px;
}

.schedule thead {
    background-color: red;
    color: white;
}

.schedule tbody tr:nth-child(odd){
    background-color: antiquewhite;
}

.schedule tbody tr:nth-child(even){
    background-color: gray;
}

.schedule tfoot{
    background-color:red;
    color: white;

}