body {
    width: 100%;
    font-family: Arial, sans-serif;
    background-color: #a0b0e7; /* Light blue background */
    color: #333; /* Darker text */
}

header {
    width: 100%;
    padding: px;
    margin: 20;
    background : #1e3a8a; /* Dark navy blue */
}

header .title {
    font-family: 'Brush Script MT', cursive; /* Script font for title */
    color: #fff;
    font-size: 60px;

}

.navy {
    color: #1e2536; 
}

.purple {
    color: rgb(120, 19, 235);
} 

.gray {
    color: rgb(114, 113, 115);
} 

.green {
    color: rgb(54, 125, 7);
} 


.namestyle {
    font-family: 'Brush Script MT', cursive; /* Script font for title */
    font-size: 48px;
    margin: 0;
}
   
