/* styles.css */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: blueviolet;
}

nav {
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: white;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.hamburger-menu {
    display: none;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    display: block;
    height: 3px;
    background-color: black;
    border-radius: 2px;
}

.menu-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: 200px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.menu-links.open {
    display: flex;
}

.menu-links li {
    list-style: none;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.menu-links a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: left;
}

.menu-links a:hover {
    color: aliceblue;
    background-color: black;
}

footer {
    text-align: center;
    padding: 10px;
}

@media screen and (max-width: 1200px) {
    .hamburger-menu {
        display: flex;
    }

    .menu-links {
        position: static;
        display: none;
        flex-direction: column;
        width: 100%;
    }

    nav {
        flex-direction: column;
    }
}
