body {
    font-size: 14px;
    background-color: beige;
    padding: 0;
}

h1 {
    font-family: 'Brush Script MT', cursive; /* Script font for title */
}

h2 {
    font-family: Arial, Helvetica, sans-serif /* Script font for title */
}

.picture1 {
    width: 50%;
    height: 50%;
    margin: 20px auto;
}

.picture2 {
    width: 50%;
    height: 50%;
    margin: 20px auto;
}

/* 
.img1 {
    object-fit: cover;
    } 
*/

/* .
img2 {
    object-fit: contain;
    } 
*/
